@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #effafa;
}

section {
  color: #effafa #eef6f6 hsl(180, 8%, 52%) hsl(180, 14%, 20%) #5ba4a4;
}
